body{
    background-color: #BBBBBB;
    font-family: 'Poppins', sans-serif;
}

#logo{
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.navbar{
    background-color: #222831;
}

.animate__animated.animate__fadeInDown {
    --animate-duration: 1s;
  }